.container {
  max-width: $siteWidth;
  margin: 0 auto;
}

.btn {
  border: none;
  padding: .4rem 1rem;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-rounded {
  border-radius: 50px;
}

.btn-bluish {
  background: $bluishColor;
  color: #fff;
}